@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Source+Serif+Pro:600|Inter:400,700,500,600|Roboto:700");
@font-face {
  font-family: "Charter-Roman";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/Charter-Roman") format("truetype");
}
@font-face {
  font-family: "Charter-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/Charter-Bold") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
