.frame-9498 {
  align-items: flex-start;
  background-color: var(--alto);
  border: 0.72px none;
  border-radius: 4.34px;
  display: flex;
  flex-direction: column;
  gap: 7.23px;
  height: 8.67px;
  width: 234.88px;
}

.rectangle-3131 {
  background-color: var(--shamrock);
  border: 0.72px none;
  border-radius: 3.61px;
  height: 8.67px;
  min-width: 184.29px;
}

