.ellipse-158-1 {
  background-size: 100% 100%;
  border: 0.72px none;
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.ellipse-158-1.ellipse-163 {
  left: 20px;
}

.ellipse-158-1.ellipse-164 {
  left: 40px;
}

.ellipse-158-1.ellipse-165 {
  left: 61px;
}

