.welcome-scrolling-content {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  margin-bottom: -1604.66px;
  width: 540px;
}

.welcome-scrolling-content-1 {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.frame-4640,
.content {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.user {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: fit-content;
}

.frame {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.group-51 {
  height: 46px;
  min-width: 163px;
  position: relative;
}

.group-49 {
  align-items: center;
  background-color: var(--backgroundsprimary);
  border-radius: 23px;
  box-shadow: 0px 2px 8px #06173029;
  display: flex;
  height: 46px;
  left: 0;
  min-width: 46px;
  padding: 0 3px;
  position: absolute;
  top: 0;
}

.overlap-group2 {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  height: 40px;
  min-width: 40px;
  padding: 17.4px 4.0px;
}

.frame-9609-1 {
  align-items: flex-start;
  border: 0.59px none;
  display: flex;
  height: 5px;
  min-width: 30px;
  padding: 0 1.0px;
  position: relative;
}

.group-18 {
  align-items: flex-end;
  display: flex;
  height: 45px;
  left: 59px;
  min-width: 108px;
  position: absolute;
  top: 0;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 45px;
  width: 72px;
}

.gatherx,
.supriatna-richard,
.bambang,
.ceci-romanov {
  letter-spacing: 0.16px;
  min-height: 20px;
}

.pinned-post,
.product-designer,
.very-inspiring-article-thank-you,
.you-are-rock-great-post {
  letter-spacing: 0.14px;
  margin-top: 7px;
  min-height: 18px;
}

.x16-pin {
  height: 24px;
  margin-bottom: 2px;
  margin-left: 8px;
  width: 24px;
}

.want-to-start-your-o {
  align-self: stretch;
  letter-spacing: 0.24px;
  line-height: 34px;
}

.content-item {
  align-self: stretch;
  letter-spacing: 0.16px;
  line-height: 28px;
}

.here-are-some-inspir {
  color: var(--black);
  font-family: var(--font-family-charter-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0.22px;
  line-height: 28px;
  white-space: nowrap;
  width: fit-content;
}

.frame-9621 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.frame-9605 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 520px;
}

.frame-9606 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 10px;
  margin-top: -8px;
  padding: 10px;
  width: 520px;
}

.some-of-the-latest-g {
  letter-spacing: 0.14px;
  line-height: 22px;
  margin-right: -20.00px;
  margin-top: -1.00px;
  width: 520px;
}

.line-1 {
  height: 1px;
  margin-bottom: -1.00px;
  min-width: 315px;
}

.frame-4636 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 49px;
  position: relative;
  width: fit-content;
}

.group-22 {
  height: 46px;
  min-width: 182px;
}

.group-51-1 {
  align-items: flex-start;
  display: flex;
  height: 46px;
  min-width: 182px;
  position: relative;
}

.group-18-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  min-height: 45px;
  width: 127px;
}

.frame-463 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 10px;
  padding: 10px;
  width: fit-content;
}

.like-this-article-share-it-now {
  letter-spacing: 0.16px;
  margin-top: -1.00px;
  width: fit-content;
}

.frame-96 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.responses-24 {
  letter-spacing: 0.24px;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.write-your-response {
  letter-spacing: 0.16px;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.frame-5 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 13px;
  position: relative;
  width: fit-content;
}

.group-18-2 {
  height: 70px;
  margin-right: -6.00px;
  min-width: 212px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 206px;
}

.x-ago {
  letter-spacing: 0.12px;
  margin-top: 10px;
  min-height: 15px;
}

.group-18-3 {
  height: 70px;
  margin-right: -6.00px;
  min-width: 163px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 157px;
}

